/* balls */

body{
    background-image: url('../media/bg.jpg');
}

main{
    margin-left: 75px;
    margin-right: 75px;
}

.container{
    display: flex;
    justify-content: center;
}

.main-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 350px;
    height: 550px;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(33, 20, 20, 0.886);
}

.main-h2{
    text-align: center;
    font-family: 'Poppins', 'sans-sherif';
    color: rgb(253, 132, 3);
    margin-top: 3px;
}

.main-text{
    font-family: 'Raleway', 'sans-sherif';
    color: rgb(255, 255, 255);
    margin-top: 14px;
    margin-bottom: 12px;
    text-align: justify;
}

.main-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 163, 24);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: scale 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.main-button:hover{
    scale: 1.05;
    background-color: rgb(153, 92, 0);
}

.main-button:active{
    scale: 0.95;
    background-color: white;
    color: brown;
}

/*Tablet design*/
@media(max-width: 992px) {
    main{
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        display: block;
        width: auto;
        height: auto;
        padding: 2px;
    }

    .main-box{
        margin-left: 30px;
        margin-right: 30px;
    }
}    

/*Mobile design*/
@media(max-width: 576px) {
    main{
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        display: block;
        width: auto;
        height: auto;
        padding: 2px;
    }

    .main-box{
        margin-left: 25px;
        margin-right: 25px;
    }
}