*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
    background-image: url('../media/bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/*header (nav)*/
header{
    /* background-color: rgba(84, 93, 105, 0.3); */
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.nav_list_item{
    list-style: none;
}

.nav_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.nav_link:hover{
    color: rgb(253, 165, 3);
}

.navbar .logo .nav_link{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav_list{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_button{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#action_button{
    background-color: rgb(255, 163, 24);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

#action_button:hover{
    scale: 1.05;
    color: rgb(255, 255, 255);
}

#action_button:active{
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu #action_button{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer{
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
}

.footer-text{
    text-align: center;
    font-size: 13px;
    color: white;
}

/*responsive design*/
@media(max-width: 992px) {
    .navbar .nav_list, .navbar #action_button{
        display: none;
    }

    .navbar .toggle_button{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
} 