body{
  background-image: url("../media/dark_bg.jpg");
}

.main-box{
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 3px;
  padding-bottom: 13px;
  border-radius: 8px;
  background-color: rgba(15, 15, 15, 0.843);
}

.main-box:hover{
  background-color: rgba(0, 0, 0, 0.953);
}

.main-box::after {
  content: "";
  display: table;
  clear: both;
}

.content-line{
  /* margin-left: 50px; */
  margin-right: 50px;
}

h1{
  text-align: center;
  color: rgb(253, 132, 3);
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px black;
  
}

h2{
  text-align: left;
  padding-left: 10px;
  color: rgb(253, 132, 3);
  font-size: 28px;
  font-family: 'Poppins', 'sans-sherif';
}

.kep{
  margin-left: 15px;
  margin-right: 8px;
  margin-top:5px;
  border-radius: 7px;
  float: right;
  width: 25%;
  height: auto;
}

p, li, h3{
  text-align: justify;
  padding-left: 8px;
  padding-right: 8px;
  text-indent: 6px;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

p{
  margin-bottom: 12px;
  font-size: larger;
  line-height: 150%;
}

li{
  margin-bottom: 6px;
}

ul{
  margin-left: 24px;
}

/*Tablet design*/
@media(max-width: 992px) {
  .main-box{
      margin-left: 40px;
      margin-right: 40px;
  }
}    

/*Mobile design*/
@media(max-width: 576px) {
  .main-box{
      margin-left: 25px;
      margin-right: 25px;
  }
}